* {
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: black;
  border: 20px;
  height: 100vh;
}
.oo {
  background-color: hsl(0, 0%, 8%);
  width: 300px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  col
}
.jes {
  color: white;
}
.Lon {
  color: lime;
}
.Fron{
  color: white;
}
.img {
  border-radius: 200px;
  width: 70px;
}
.GIT {
  border-radius: 5px;
  margin-top: 20px;
  width: 250px;
  height: 5vh;
  color: white;
  background-color:hsl(0, 0%, 20%)  ;
  
}
.Front {
  width: 250px;
  height: 5vh;
  color: white;
  background-color:hsl(0, 0%, 20%)  ;
  border-radius: 5px;
 
}
.Linkedin {
  width: 250px;
  height: 5vh;
  color: white;
  background-color:hsl(0, 0%, 20%)  ;
  border-radius: 5px;
}
.Twitter {
  width: 250px;
  height: 5vh;
  color: white;
  background-color:hsl(0, 0%, 20%)  ;
  border-radius: 5px;

}

.nstagram{
  width: 250px;
  height: 6vh;
  color: black;
  color: white;
  background-color:hsl(0, 0%, 20%)  ;
  border-radius: 5px;
}
.nstagram:hover{
  background-color: lime;
  color: black;
}
.Twitter:hover{
  background-color: lime;
  color: black;
}
.Linkedin:hover{
  background-color: lime;
  color: black;
}
.GIT:hover{
  background-color: lime;
  color: black; 

}
.Front:hover{
  background-color: lime;
  color: black;

}